* {            
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
}

.content {
    min-height: calc(100vh - 200px);
    background-color: lightblue;
}

.floating-ad{
    position: fixed;
    background-color: yellow;
    padding: 10px 30px;
    border: 1px solid black;
    bottom: 20px;
    right: 20px;
}

header {
    height: 100px;
    background-color: darkgray;
}

footer {
    height: 100px;
    background-color: darkgray;
    text-align: center;
    padding: 20px;
}        