*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(88, 48, 141);
}

.box1, .box2, .box3{
    background-color: orange;
    width: 150px;
    height: 150px;
}

.box2{
    background-color: green;
}

.box3{
    background-color: red;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
    margin: 10px;
}