*{
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
}

header {
    background-color: rgb(190,190,190);
}

main{
    background-color: black;
}

nav{
    background-color: rgb(220, 220, 220);
}

section, aside, div{
    float: left;
    width: 25%;
    padding: 15px;
}

section{
    background-color: rgb(155, 155, 155);
    width: 50%;
}

aside{
    background-color: rgb(215,215,215);
}

div {
    background-color: rgb(120, 120, 120);
}

footer{
    background-color: rgb(190,190,190);
    position: fixed;
    bottom: 0;
    width: 100%;
}